# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Gradle createVersion
        id: version-cv
        run: |
          version=$(./gradlew cV | grep "version =" | awk '{print $3}')
          echo "::set-output name=version::$version"
      #        ./gradlew cV
      - name: Gradle createVersion in Starter-api
        run: |
          cd starter-api/
          ../gradlew cV
      - name: Gradle createVersion in Starter-server
        run: |
          cd starter-server/
          ../gradlew cV
      - name: Gradle createRelease
        id: release-cr
        run: |
          release=$(./gradlew cR -Prelease.disableSnapshotsCheck | grep "name =" | awk '{print $3}')
          echo "::set-output name=release::$release"
      #        ./gradlew cR -Prelease.disableSnapshotsCheck
      - name: Build Docker Image
        id: docker-build-image
        run:
          cd starter-server/
          ../gradlew jibDockerBuild